header {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background: #032f3e; }
  header ul {
    position: relative;
    left: -40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  header li {
    width: 20%;
    list-style-type: none; }
  header a {
    color: white;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center; }
    header a:hover {
      background: #04455b; }

main {
  margin-top: 7%;
  color: #032f3e; }
  main h1 {
    text-align: center; }
  main p {
    margin: 20px; }
