* {
  padding: 0;
  margin: 0; }

header {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background: #032f3e; }
  header ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  header li {
    width: 20%;
    list-style-type: none; }
    @media screen and (max-width: 600px) {
      header li {
        width: 100%; } }
  header a {
    color: white;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center; }
    header a:hover {
      background: #04455b; }

main {
  color: #032f3e; }
  main #head-img {
    height: 100vh;
    background: url(../img/cinema-bg.jpg);
    background-size: cover;
    background-position: center; }
    @media screen and (max-width: 600px) {
      main #head-img {
        padding-top: 200px;
        height: calc(100vh - 200px); } }
  main #text {
    padding: 0 5%; }
  main h1 {
    margin: 10px;
    text-align: center; }
  main #info-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2%; }
  main p {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: justify; }
    main p:nth-of-type(3n) {
      margin-right: 0; }
    @media screen and (max-width: 600px) {
      main p {
        width: 100%;
        margin-right: 5%;
        margin-bottom: 5%; }
        main p:nth-of-type(1n) {
          margin-right: 0; } }

footer {
  background: #032f3e;
  color: white;
  text-align: center;
  padding: 5%; }
  footer #F-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  footer .F-set {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 5%; }
    footer .F-set:nth-of-type(3n) {
      margin-right: 0; }
    @media screen and (max-width: 600px) {
      footer .F-set {
        width: 100%;
        margin-right: 5%;
        margin-bottom: 5%; }
        footer .F-set:nth-of-type(1n) {
          margin-right: 0; } }
