* {
  padding: 0;
  margin: 0; }

header {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background: #032f3e; }
  header ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 600px) {
      header ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  header li {
    width: 20%;
    list-style-type: none; }
    @media screen and (max-width: 600px) {
      header li {
        width: 100%; } }
  header a {
    color: white;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center; }
    header a:hover {
      background: #04455b; }

main {
  color: #032f3e; }
  @media screen and (max-width: 600px) {
    main {
      padding-top: 200px; } }
  main h1 {
    margin: 10px;
    text-align: center; }
  main #info-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2%; }
  main p {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: justify; }
    main p:nth-of-type(3n) {
      margin-right: 0; }

footer {
  background: #032f3e;
  color: white;
  text-align: center; }
  footer #F-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  footer .f-set {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 5%; }
    footer .f-set:nth-of-type(3n) {
      margin-right: 0; }
