@import "varibulls";
@import "mixins";

*{
  padding: 0;
  margin: 0;
}

header{
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background: $deepBlue;
  ul{
    width: 100%;
    @include flex();
  }
  li{
    width: (100% / 5);
    list-style-type: none;
    @include mQ(600px){
      width: 100%;
    }
  }
  a{
    color: white;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
    &:hover{
      background: lighten($deepBlue, 6);
    }
  }
}


main{
  color: $deepBlue;

  #head-img{
    height: 100vh;
    background: url(../img/cinema-bg.jpg);
    background-size: cover;
    background-position: center;
    @include mQ(600px){
      padding-top: 200px;
      height: calc(100vh - 200px);
    }
  }

  #text{
    padding: 0 $basicPading ;
  }

  h1{
    margin: 10px;
    text-align: center;
  }
  #info-text{
    @include flex();
    margin: 2%;
  }
  p{
    @include grid(3, $basicPading);
    text-align: justify;
    @include mQ(600px){
      @include grid(1, $basicPading);
    }
  }
}


footer{
  background: $deepBlue;
  color: white;
  text-align: center;
  padding: 20px $basicPading;


  #F-info{
    @include flex();
  }

  .F-set{
    @include grid(3, $basicPading);
    @include mQ(600px){
      @include grid(1, $basicPading);
    }
  }
}
