@import "varibulls";
@import "mixins";

*{
  padding: 0;
  margin: 0;
}

header{
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background: $deepBlue;
  ul{
    width: 100%;
    display: flex;
    @include mQ(600px){
      flex-direction: column;
    }
  }
  li{
    width: (100% / 5);
    list-style-type: none;
    @include mQ(600px){
      width: 100%;
    }
  }
  a{
    color: white;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
    &:hover{
      background: lighten($deepBlue, 6);
    }
  }
}


main{
  color: $deepBlue;
  @include mQ(600px){
    padding-top: 200px;
  }



  h1{
    margin: 10px;
    text-align: center;
  }
  #info-text{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
  }
  p{
    @include grid(3, 5%);
    text-align: justify;
    @include mQ(600px){
      @include grid(1, 5%);
    }
  }
}


footer{
  background: $deepBlue;
  color: white;
  text-align: center;


  #F-info{
    display: flex;
  }

  .F-set{
    @include grid(3, 5%);
  }
}
